body {
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}

header {
    background-color: #380215;
    color: white;
    text-align: center;
}

.topicos {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin: 0;
}

.topicos li {
    padding-left: 10px;
    margin: 0 10px;
    font-size: 20px;
    display: flex;
}

.topicos a {
    text-decoration: none;
    color: white;

}

.topicos a:hover {
    transition: 400ms;
    cursor: pointer;
    font-size: 21px;
    color: #ff5454;
}

h1.titulo {
    padding-bottom: 10px;
    margin: 0;
    text-decoration: none;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#paineis {
    display: flex;
    justify-content:center;
}

.principal {
    border: 3px solid #282828;
    padding: 30px;
    padding-top: 10px;
    margin: 20px;
    border-radius: 20px;
    height: 400px;
    width: 200px;
}

.secundaria {
    border: 3px solid #282828;
    padding: 20px;
    padding-top: 10px;
    margin: 50px;
    border-radius: 20px;
    height: 400px;
    width: 200px;
}

#personagens {
    display: flex;
    justify-content: center;
}


.quadro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.caixa {
    padding: 15px;
    margin: 50px;
    height: min-content;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.foto img {
    width: 190px;
    height: min-content;
}

.caixa p {
    font-size: 20px;
}

.caixa h1 {
    font-size: 50px;
}

.hist{
    margin: 10px;
    flex-direction: column;
    padding: 10px;
}